/* line 1, ../SASS/main.scss */
body { margin: 20px; font-size: 12px; font-family: "Helvetica Neue", sans-serif; }

/* line 7, ../SASS/main.scss */
#paramaters { height: 150px; }
/* line 9, ../SASS/main.scss */
#paramaters .paramaterbox { width: 250px; float: left; height: 150px; display: block; }
/* line 14, ../SASS/main.scss */
#paramaters .paramaterbox input { font-size: 64px; font-family: "HelveticaNeueLTStd-LtCn"; line-height: 87px; height: 72px; width: 150px; margin: 0 0 5px 0; padding: 0; border-top: 0; border-left: 0; border-right: 0; border-bottom: 5px solid #000; text-align: left; }
/* line 28, ../SASS/main.scss */
#paramaters .paramaterbox .unit { font-family: "Helvetica Neue"; font-size: 20px; display: block; text-align: right; width: 150px; }
