body {
  margin: 20px;
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
}

#paramaters {
  height:150px;
  .paramaterbox {
    width: 250px;
    float: left;
    height: 150px;
    display: block;
    input {
      font-size: 64px;
      font-family: "HelveticaNeueLTStd-LtCn";
      line-height: 87px;
      height: 72px;
      width: 150px;
      margin: 0 0 5px 0;
      padding: 0;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 5px solid #000;
      text-align: left;
    }
    .unit {
      font-family: "Helvetica Neue";
      font-size: 20px;
      display: block;
      text-align: right;
      width: 150px;
    }
  }
}