header {

  #box-header {
    @if $type == miniDesktop {
      width: 800px;
    }
  }
}

$articleWidthDesktop: 270px;
$articleWidthMiniDesktop: 288px;

#box-articles {

  @if $type == miniDesktop {
    width: ($articleWidthMiniDesktop + 40) * 4;
  }

  article.thumbnail {
    @if $type == miniDesktop {
      width: $articleWidthMiniDesktop;
    }


    .link_button {
      @if $type == miniDesktop {
        width: $articleWidthMiniDesktop;
      }
    }

    .cover {
      @if $type == miniDesktop {
        width: $articleWidthMiniDesktop;
      }
    }
  }
}
