@import "compass";
@import "../variables";
@import "../css-properties";
@import "../mixins";

$headerHeight: 60px;

header {
  width: 100%;
  background: rgba(0, 0, 0, 0);
  color: #FFFFFF;
  display: block;
  height: $headerHeight;
  margin: 0;
  z-index: 2;
  position: absolute;
  top: 0px;

  #box-header {
    width: 1200px;
    margin: 0px auto;
    padding: 0 40px;
  }

  #logo {
    width: 270px;
    height: 60px;
    display: block;
    overflow: hidden;
    float: left;

    a {
      display: block;
      width: 100%;
      height: 100%;
      // white-space: nowrap;
      // text-indent: 100%;

      &:hover {
        background: #444;
      }
    }
  }

  $navHeight: 60px;
  nav {
    ul {
      // @include edgefont(24px);
      font-family: $default-font;
      font-size: 16px;
      font-weight: 600;
      font-style: italic;
      list-style: none;
      padding: 0;
      margin: 0 0 0 0;
      float: left;

      li {
        padding: 0;
        margin: 0;
        float: left;
        // border-left: 1px solid #FFF;

        a {
          display: block;
          padding: 0 10px;
          color: #FFFFFF;
          text-decoration: none;
          height: $navHeight;
          line-height: $navHeight;

          &:hover {
            background: #444;
          }
        }
      }
    }
  }
}

article#single_article {
  width: 100%;
  // position: absolute;
  top: 0px;
  z-index: 1;
}

.frame-frontmatter {
  height: 450px - $headerHeight;
  width: 100%;
  background: #000;
  color: #FFFFFF;
  margin: 0 0 40px 0;
  padding: $headerHeight 0 0 0;

  a {
    color: #FFFFFF;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid #FFFFFF;
    }
  }

  .box-frontmatter {
    width: 1200px;
    height: 450px - 40 - $headerHeight;
    margin: 40px auto 0 auto;
    padding: 0 40px;
    position: relative;

    h1 {
      display: block;
      width: 890px;
      font-family: "Fira Sans", SourceHanSans-Regular, sans-serif;
      font-size: 40px;
      letter-spacing: -2.5px;
      line-height: 46px;
    }

    .article-information {
      position: absolute;
      bottom: 40px;

      .category {
        font-family: "Fira Sans";
        font-size: 30px;
        font-style: italic;
        margin: 0 0 10px 0;
        // letter-spacing: -1px;

        .main_category {
          font-weight: bold;
        }
      }

      .tags {
        margin-bottom: 15px;

        .tag {
          display: block;
          float: left;
          margin-right: 20px;
        }
      }

      .postdate {
        /* 2.26.2017 7:05 PM: */
        font-family: "Fira Sans";
        font-style: italic;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0.67px;
      }
    }
  }
}
