@charset "UTF-8";
#single_article .frame-body .box-body {
  width: 1280px;
  margin: 0px auto;
  font-size: 16px;
}

#single_article .frame-body .box-body p {
  width: 890px;
  margin: 0 0 20px 0;
  padding: 0 0 0 40px;
  text-indent: 1em;
  font-family: "Shuei Mincho M JIS2004", "YuMin-Medium", "HiraMinProN-W3", "Meiryo", sans-serif;
  font-style: normal;
  color: #000000;
  line-height: 1.7;
}

#single_article .frame-body .box-body p b, #single_article .frame-body .box-body p strong {
  font-family: "YuGo-Medium", "YuGothic-Regular", "HiraginoSans-W3", "Meiryo", sans-serif;
  font-style: bold;
}

#single_article .frame-body .box-body a {
  color: #444;
  border-bottom: 2px solid #444;
  text-decoration: none;
}

#single_article .frame-body .box-body a:hover {
  color: #000;
  background: #eaeaea;
  border: 0px;
}

#single_article .frame-body .box-body h2 {
  /* 大見出し（H2）は段組からはみ出る。幅は: */
  font-family: "source-han-sans-japanese", SourceHanSans-Regular, "YuGo-Medium", "YuGothic-Regular", "HiraginoSans-W3", "Meiryo", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 0 0 40px 40px;
  padding: 20px 0 0 0;
}

#single_article .frame-body .box-body h3 {
  /* 大見出し（H2）は段組からはみ出る。幅は: */
  font-family: "source-han-sans-japanese", SourceHanSans-Regular, "YuGo-Medium", "YuGothic-Regular", "HiraginoSans-W3", "Meiryo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin: 0 0 20px 40px;
  padding: 0;
}

#single_article .frame-body .box-body figure {
  margin: 0 0 20px 40px;
}

#single_article .frame-body .box-body figure img {
  width: 890px;
  height: auto;
}

#single_article .frame-body .box-body ul {
  display: block;
  margin: 0 0 20px 40px;
  padding: 20px 20px 15px 20px;
  font-family: "source-han-sans-japanese", SourceHanSans-Regular, "YuGo-Medium", "YuGothic-Regular", "HiraginoSans-W3", "Meiryo", sans-serif;
  font-weight: 400;
  list-style-type: square;
  width: 850px;
  background: #efefef;
}

#single_article .frame-body .box-body ul li {
  margin: 0 0 5px 0;
  padding: 0;
}
