@charset "UTF-8";
header {
  background: #000;
  color: #FFFFFF;
  display: block;
  height: 120px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  header {
    height: auto;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  header {
    height: auto;
  }
}

header #box-header {
  width: 1200px;
  margin: 0px auto;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  header #box-header {
    width: 944px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header #box-header {
    width: 688px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  header #box-header {
    width: auto;
    height: auto;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  header #box-header {
    width: auto;
    height: auto;
  }
}

header #logo {
  width: 270px;
  height: 60px;
  display: block;
  overflow: hidden;
  float: left;
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  header #logo {
    width: 180px;
    height: 40px;
    margin: 0 0 0 20px;
  }
  header #logo img {
    width: auto;
    height: 40px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  header #logo {
    width: 180px;
    height: 40px;
    margin: 0 0 0 10px;
  }
  header #logo img {
    width: auto;
    height: 40px;
  }
}

header #logo a {
  display: block;
  width: 100%;
  height: 100%;
}

header #logo a:hover {
  background: #444;
}

header nav ul {
  font-family: "Fira Sans", "Helvetica Neue", "游ゴシック体", "游ゴシック", "Hiragino Sans", "HiraKakuProN-W3", Meiryo, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  header nav ul {
    float: none;
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  header nav ul {
    clear: both;
    display: block;
    float: none;
    padding: 0 0 0 10px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  header nav ul {
    clear: both;
    display: block;
    float: none;
    padding: 0 0 10px 0;
  }
}

header nav ul li {
  padding: 0;
  margin: 0;
  float: left;
}

header nav ul li a {
  display: block;
  padding: 0 10px;
  color: #FFFFFF;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
}

header nav ul li a:hover {
  background-color: #444;
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  header nav ul li a {
    height: 40px;
    line-height: 40px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  header nav ul li {
    width: 50%;
    height: 30px;
    margin-top: 10px;
    float: left;
  }
  header nav ul li a {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 10px 0 10px;
    line-height: 30px;
  }
  header nav ul li a:hover {
    background-color: transparent;
    border-bottom: 2px solid #FFF;
  }
}

#box-articles {
  width: 1240px;
  margin: 0 auto;
  padding-left: 40px;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #box-articles {
    width: 984px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #box-articles {
    width: 728px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  #box-articles {
    width: 548px;
    padding-left: 20px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles {
    width: auto;
    padding: 0;
  }
}

#box-articles article.thumbnail {
  width: 270px;
  height: 270px;
  display: block;
  float: left;
  background-color: #ddd;
  margin-right: 40px;
  margin-bottom: 40px;
  position: relative;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #box-articles article.thumbnail {
    width: 288px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #box-articles article.thumbnail {
    width: 324px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  #box-articles article.thumbnail {
    width: 254px;
    height: 230px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail {
    width: auto;
    height: auto;
    float: none;
    margin-right: 0px;
    margin-bottom: 20px;
    background-color: transparent;
  }
}

#box-articles article.thumbnail .link_button {
  width: 100%;
  height: 100%;
  display: block;
}

#box-articles article.thumbnail a {
  color: #000000;
  text-decoration: none;
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail a {
    display: block;
  }
}

#box-articles article.thumbnail .coverimg {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 120px;
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  #box-articles article.thumbnail .coverimg {
    height: 80px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail .coverimg {
    display: none;
  }
}

#box-articles article.thumbnail .cover {
  width: 270px;
  height: 120px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  #box-articles article.thumbnail .cover {
    width: 288px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #box-articles article.thumbnail .cover {
    width: 324px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  #box-articles article.thumbnail .cover {
    width: 254px;
    height: 80px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail .cover {
    width: auto;
    height: auto;
  }
}

#box-articles article.thumbnail .cover h1 {
  font-family: "source-han-sans-japanese", SourceHanSans-Regular, sans-serif;
  font-weight: 600;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: #000000;
  letter-spacing: -1px;
  line-height: 1.1;
  display: block;
  position: absolute;
  bottom: -1px;
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  #box-articles article.thumbnail .cover h1 {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail .cover h1 {
    position: static;
    width: auto;
    margin-bottom: -1px;
  }
}

#box-articles article.thumbnail .article-information {
  background: #000000;
  color: #FFFFFF;
  height: 110px;
  padding: 20px;
  position: relative;
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  #box-articles article.thumbnail .article-information {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail .article-information {
    font-size: 14px;
    height: auto;
  }
}

#box-articles article.thumbnail h2 {
  font-size: 15px;
  font-weight: bold;
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  #box-articles article.thumbnail h2 {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail h2 {
    font-size: 14px;
  }
}

#box-articles article.thumbnail .other_info {
  position: absolute;
  bottom: 18px;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.3;
}

@media only screen and (min-width: 1px) and (max-width: 567px) {
  #box-articles article.thumbnail .other_info {
    position: static;
  }
}
